WCF Test/WCFTest/Entities/obj/
WCF Test/WCFTest/WCFTest/bin/Debug/
WCF Test/WCFTest/WCFTest/obj/
WCF Test/WCFTest/WCFServiceHost/obj/
WCF Test/WCFTest/WinClient/bin/
WCF Test/WCFTest/WinClient/obj/
WCF Test/WCFTest/WCFServiceHost/bin/
